
/* 
 * ------------------------------------
 *               STYLE
 * ------------------------------------
 * 
 */

html, body {
    margin: 0;
    padding: 0;
    background: #E5E6E9;
    color: #222;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 960px;
    margin: auto;
}

.clear {
    clear: both;
}

.logo-box {
    width: 70px;
    height: auto;
    display: inline-block;
}

.logo-box .logo {
    background: url('../img/ui/logo.png') center no-repeat;
    background-size: 95%;
    padding-bottom: 100%;
}

.logo-text {
    color: #E48562;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
    text-decoration: none;
}

/* 
 * ------------------------------------
 *               LOGIN
 * ------------------------------------
 * 
 */

.login-background {
    height: 100vh;
    width: 100%;
    background: url('../img/pages/auth/desk.png') bottom;
    background-size: cover;
}

.login-overlay {
    position: absolute;
    z-index: 2;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.05);
}

.login-container {
    margin-top: calc(50vh - 210px);
    width: 330px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login-container .logo-box {
    width: 70px;
}

.login-container .logo-text {
    text-align: center;
    margin-top: 20px;
}

.login-box {
    background: white;
    border-radius: 4px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align-last: left;
}

.login-form label {
    color: #000;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.login-form input {
    padding: 10px;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 0;
    background: #F0F4F5;
    border: 1px solid #F0F4F5;
    outline: none;
    transition: all .2s;
}

.login-form input:focus {
    background: #FCFEFF;
    border: 1px solid #D5D6D6;
}

.login-form input:last-child {
    margin-bottom: 0;
}

.login-form button {
    background: #262C34;
    color: white;
    width: 80%;
    display: block;
    margin-top: 30px;
    margin-right: auto; 
    margin-left: auto;
    padding: 20px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: background .2s;
}

.login-form button:hover {
    background: #111;
}

.login-form button::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    position: absolute;
    background: rgba(153, 153, 153, 0.3);
    z-index: -1;
    border-radius: 4px;
}

.alert {
    font-weight: bold;
    padding: 15px;
    border-radius: 2px;
    height: auto;
    margin-bottom: 10px;
    text-align: left;
}

.alert.alert-success {
    color: #729B72;
    border: 1px solid #BECABA;
    background: #EFF5EB;
}

.alert.alert-error {
    color: #996260;
    border: 1px solid #D0BFB8;
    background: #FBF4F2;
}


/* 
 * ------------------------------------
 *               NAVBAR
 * ------------------------------------
 * 
 */

.navbar {
    width: 100%;
    height: 70px;
    background: #262C34;
}

.navbar .logo-box {
    float: left;
    width: 50px;
    margin-top: 10px;
}

.navbar .logo-text {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

.navbar .nav-right {
    float: right;
    margin-top: 18px;
}

.navbar .logout {
    text-decoration: none;
    color: white;
    background: #E68664;
    padding: 8px 25px;
    border-radius: 4px;
    border: 0;
    font-weight: bold;
    float: right;
    transition: all .3s;
}

.navbar .logout:hover {
    background: #C36B4C;
}

.navbar .avatar {
    width: 50px;
    height: 50px;
    margin-top: -8px;
    border-radius: 50%;
    margin-right: 20px;
    background: white;
    float: right;
    background: url('../img/ui/default-avatar.jpg');
    background-size: 100%;
}

.navbar .infos {
    float: right;
    margin-right: 15px;
    font-size: 15px;
    color: #FCEFEF;
    font-weight: bold;
}

.navbar .infos a {
    color: #565E67;
    display: block;
    font-size: 13px;
    text-align: right;
}

/* 
 * ------------------------------------
 *               CALENDAR
 * ------------------------------------
 * 
 */

.title {
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.title span {
    color: #5ebd9f;
}

.dashbox {
    background: #fff;
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.dashbox.dashbox-students {
    width: 80%;
    margin-left: 10%;
}

.dashbox-file {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    text-align: center;
}

.dashbox.sided {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    text-decoration: none;
}

.dashbox.sided:hover {
    background: #F3F3F3;
}

.dashbox.nopadding {
    padding: 0;
}

.box-title {
    margin-top: 0;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}

.calendar {
    font-family: "Open Sans";
    float: left;
    width: 650px;
}

.calendar .month {
    display: none;
}

.calendar .month.active {
    display: block;
}

.calendar .month-name {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.calendar .item {
    display: block;
    float: left;
    width: 85px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    color: #928D8D;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.calendar .item-day:hover {
    background: #FCFCFC;
    border: 1px solid #DDD;
}

.calendar .item.no-course {
    color: #CCC;
}

.calendar .item-label {
    color: #555;
}

.calendar .item.active {
    color: #000;
    box-sizing: border-box;
    text-decoration: underline;
}

.calendar .item.missing {
    color: #E68664;
    font-weight: bold;
}

.course-list {
    float: right;
    width: 285px;
}

.course-list .item {
    display: block;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 22px 15px;
    background: #FAF8F7;
    color: #99918E;
    text-decoration: none;
    cursor: default;
}

.course-list .item.parent {
    background: white;
    position: relative;
    font-weight: bold;
}

.course-list .item.parent::after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
}

.course-list .item.missing {
    background: #EB9E83;
    color: white;
    cursor: pointer;
    transition: all .2s;
}

.course-list .item.missing:hover {
    background: #E68664;
}

.calendar-control {
    width: 120px;
    height: 25px;
    padding-top: 5px;
}

.calendar-control a {
    color: #7D7E7B;
}

.calendar-control.previous {
    float: left;
    text-align: left;
}

.calendar-control.next {
    float: right;
    text-align: right;
}

.absence-infos {
    color: #555;
}

.absence-form {
    width: 100%;
}

.absence-reason {
    width: 100%; 
    max-width: 100%;
    height: 100px; 
    max-height: 150px;
    padding: 10px; 
    box-sizing: border-box;
    border: none;
    outline: none;
    display: block;
    margin-bottom: 10px;
    background: #f0f4f5;
}

.absence-submit {
    text-decoration: none;
    color: white;
    background: #E68664;
    padding: 13px 30px;
    border-radius: 4px;
    border: 0;
    transition: all .3s;
    margin-top: 30px;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600;
}

.absence-submit:hover {
    background: #C36B4C;
}

.students-form {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

.students {
    flex: 1;
}

.students .student {
    height: 30px;
}

.students .student .name {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.students .student .name.missing {
    background: #e58763;
    font-weight: bold;
}

.students .student .hidden {
    float: right;
    margin-right: 30px;
}

.roll-students {
    height: 150px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.roll-students .roll-student {
    text-align: center;
    font-size: 30px;
    color: #cacaca;
    height: 50px;
    transition-duration: 200ms;
}

.roll-students .roll-student.current {
    color: #000;
    font-size: 35px;
}

.roll-students .roll-student.missing {
    color: #e3896c !important;
    text-decoration: line-through;
}

.roll-students .roll-student .hidden {
    display: none;
}

.tuto {
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tuto .item {
    float: left;
    width: 150px;
    margin-left: 50px;
}

.tuto .item .icon {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #e3896c;
}

.tuto .item h3 {
    margin: 0;
}

.tuto .item p {
    margin-top: 0;
}

.course-title,
.course-subtitle {
    text-align: center;
}

.course-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    color: #e58763;
}

.course-subtitle {
    font-size: 11px;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.6);
}

.students-submit-cont {
    width: 100%;
    text-align: center;
}

.students-submit {
    text-decoration: none;
    color: white;
    background: #E68664;
    padding: 13px 40px;
    border-radius: 4px;
    border: 0;
    transition: all .3s;
    display: inline-block;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.students-submit:hover {
    background: #C36B4C;
}
